* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  height: 100vh;
  width: 100vw;
  ;
  overflow-x: hidden;

}

.container-activity {
  display: grid;

}


span {
  content: "\00B0";
}

.left-col {
  float: left;
  width: 35vw;
  height: 100vh;
  border: 1px solid black;

  /* background-color: red; */
}

span {
  content: "\00B0";
}

.left-col>form {
  margin-top: 30%;
  padding: 30px;
  align-items: center;
}

.left-col>form>input {
  padding: 10px;
  border-radius: 10px;


}

.mood {
  margin-left: 5%;
  padding: 20px;
}

.left-col>h3 {
  margin-left: 10%;
  margin-top: 40%;
}

.container-activity>h1 {
  position: relative;
  margin-left: 10%;
}

.left-col>h2 {
  margin-left: 10%;
  margin-top: 10%;
  padding: 5px;

}